<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/_indexTemplate}">

<head>
  <meta charset="UTF-8">
  <title>TourNet - the Best Travel Agency in Morocco</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/booking.css}">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-form">
              <div class="card-header bg-light">
                  <img class="card-img-top" th:src="@{|/travel-images/${travel.image}|}"/>
                  <div class="row item-fix text-capitalize display-5">
                    <div class="col-md-4">
                      <i class="fa-solid fa-hotel" style="color: #ff881a;"></i> HOTEL
                    </div>
                    <div class="col-md-4">
                      <i class="fa-solid fa-plane-departure" style="color: #ff961f;"></i>   transportation
                    </div>
                    <div class="col-md-4">
                      <i class="fa-solid fa-bowl-food" style="color: #f4861f;"></i> food facilities
                    </div>
                  </div>
                  <p  class="item-fix h2 btn btn-primary btn-block " style="border-radius: 0; cursor: default;overflow-wrap: break-word;" th:text="${travel.title}"></p>
              </div>
              <div class="card-body  item-fix">
                <h3  class="badge badge-pill badge-primary">Destinations</h3>
                <p  style="overflow-wrap: break-word;" class="card-text item-fix"   th:text="${travel.destiantion}"></p>
                <hr class="my-4">
                <h3  class="badge badge-primary">Inclus</h3>
                <p style="overflow-wrap: break-word;" class="card-text item-fix " th:text="${travel.inclus}">
                <hr class="my-4">
                <h3 class="badge badge-success">Exclus</h3>
                <p style="" class="card-text item-fix" th:text="${travel.exclus}"></p>
                <hr class="my-4">
                <h3 class="badge badge-danger">Tarvel date</h3>
                <p style="overflow-wrap: break-word;" class="card-text item-fix" th:text="${travel.travelDate}"></p>
                <hr class="my-4">
                <h3 class="badge badge-danger">Activities</h3>
                <p style="overflow-wrap: break-word; font-size: 1.6rem ;" class="card-text item-fix" th:utext="${travel.activities}"></p>
              </div>
            </div>
           </div>
          <div class="col-md-4">
            <div class="booking-form">
              <form th:action="@{/reserve}" method="get" th:object="${travel}">
                <input type="hidden" name="id" th:value="*{id}">
                <div class="btn btn-success btn-lg btn-block" style="border-radius: 0; cursor: default;" >
                  <strong class="h3" th:text="${travel.price+'MAD'}"></strong>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Adults</span>
                      <select name="adults"  class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Children</span>
                      <select name="childs" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <button class="submit-btn">Reserve Now</button>
                </div>
                <div th:if="${not #authorization.expression('isAuthenticated()')}">
                  <p class="text-danger">*Please Login or register To Reserve this Travel!</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</body>
</html>