<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/_template}">
<head>
  <meta charset="UTF-8">
  <title>client list - Tournest</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/simple-datatables/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <link rel="stylesheet" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">

  <section>
    <div class="card">
      <div class="card-header h1">
        Reservation Details
      </div>
      <div class="card-body">
        <div th:if="${messageupdate}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Success!</strong><span th:text="${messageupdate}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${messageinvoice}" class="alert alert-info alert-dismissible fade show" role="alert">
          <strong>Success!</strong><span th:text="${messageinvoice}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${successInvoice}" class="alert alert-info">
          <p th:text="${successInvoice}"></p>
        </div>
        <div th:if="${sendEmailError}" class="alert alert-danger">
          <p th:text="${sendEmailError}"></p>
        </div>
        <form th:action="@{/panel/reservations/update}" th:object="${reservation}"  method="post">
          <input type="hidden" th:field="*{id}">
          <input type="hidden" name="travelId" th:value="*{travel.id}" />
          <input type="hidden" name="invoiceid" th:if="${invoice != null}" th:value="*{invoice.id}" />
          <div class="row">
            <div class="form-group col-md-4">
              <label for="title">numberOfChildren</label>
              <input readonly min="0"  th:value="*{numberOfChildren}" th:field="*{numberOfChildren}" type="number" class="form-control" id="title" name="numberOfChildren" required>
            </div>
<!--            ccc-->
            <div class="form-group col-md-4">
              <label for="description">numberOfAdults</label>
              <input readonly min="1"  th:value="*{numberOfAdults}" th:field="*{numberOfAdults}"  type="number"  class="form-control" id="description" name="numberOfAdults" required></input>
            </div>
            <div class="form-group col-md-4">
              <label for="description">Date</label>
              <input  th:value="*{createdAt}" th:field="*{createdAt}" readonly type="text"  class="form-control" id="createdAt" name="createdAt" required></input>
            </div>
          </div>
          <div class="row" sec:authorize="hasRole('ADMIN')">
            <div class="form-group col-md-4">
              <label for="User">User</label>
              <input min="1" readonly th:field="*{appUser.userName}" th:value="*{appUser.userName}" type="text"  class="form-control" id="User" name="appuser" required></input>
            </div>
            <div class="form-group pt-3 px-5  form-check col-md-4">
              <input type="checkbox" th:field="*{payed}" class="form-check-input" id="payed" name="payed" />
              <label class="form-check-label" for="Payed">Payed</label>
            </div>
          </div>
          <div class="row" >
            <div class="form-group col-md-8">
              <label for="User">Travel</label>
              <input  readonly th:field="*{travel.title}" th:value="*{travel.title}" type="text"  class="form-control" id="travel" name="travel" required></input>
            </div>
            <div class="form-group col-md-8">
              <label for="User">Total Amount</label>
              <input  readonly th:field="*{totalAmount}" th:value="*{totalAmount}" type="text"  class="form-control" id="totalAmount" name="totalAmount" required></input>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Update Reservation</button>
        </form>
<!--        invoice form -->
        <div sec:authorize="hasRole('ADMIN')">
          <div th:if="${reservation.payed==true}">
            <div class="pt-4" th:if="${reservation.invoiced}">
              <form th:action="@{/panel/reservations/resend}" th:object="${reservation}"  method="post">
                <input type="hidden" th:value="*{travel.id}" name="travel">
                <input type="hidden" th:value="*{travel.id}" name="user">
                <input type="hidden" th:value="*{id}" name="id">
                <button type="submit" class="btn btn-primary">Re-send Ticket to Client</button>
              </form>
            </div>
            <div class="pt-4" th:unless="${reservation.invoiced}">
              <form th:action="@{/panel/reservations/invoice}" th:object="${reservation}" method="post">
                <input type="hidden" th:value="*{travel.id}" name="travel">
                <input type="hidden" th:value="*{appUser.userName}" name="user">
                <input type="hidden" th:value="*{id}" name="id">
                <button type="submit" class="btn btn-primary">Create invoice and send Ticket to Client</button>
              </form>
            </div>
          </div>

          <div class="pt-4">
            <table class="table" >
              <thead>
              <tr> <th>invoice id</th>  <th>Totale Amount</th><th>Action</th> </tr>
              </thead>
              <tbody>
              <tr  th:if="${invoice != null}">
                <td th:text="${invoice.id}"></td>
                <td th:text="${invoice.amount}"></td>
                <td>
                  <a onclick="return confirm('Are you sure you want to delete this record?')" class="btn btn-sm btn-danger" th:href="@{/panel/reservations/invoice/delete(id=${invoice.id}, resid=${reservation.id})}">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr th:unless="${invoice != null}">
                <td colspan="3">No invoice found.</td>
              </tr>
              </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script th:src="@{/js/feather-icons/feather.min.js}"></script>
<script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/vendors.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/simple-datatables/simple-datatables.js}"></script>
</body>
</html>