<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/_indexTemplate}">

<head>
    <meta charset="UTF-8">
    <title>TourNet - the Best Travel Agency in Morocco</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/booking.css}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card card-form">
                            <div class="card-header">
                                <div class="btn btn-info btn-lg btn-block" style="border-radius: 0; cursor: default;" >
                                    <h3 class="lead display-5 text-center " style="color: whitesmoke">Resrvation Informations</h3>
                                </div>
                            </div>
                            <div class="card-body  item-fix">
                                <table class="table text-blue">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td class="display-5">
                                                <h5 th:text="${travel.title}"></h5>
                                                <hr/>
                                                <h5 th:text="${travel.destiantion}"></h5>
                                                <hr/>
                                                <h5 th:text="${travel.travelDate}"></h5>
                                                <hr/>
                                                <h5 th:text="${travel.travelType}"></h5>
                                                <hr/>
                                                <h5><span th:text="${travel.days}"></span> Days / <span th:text="${travel.nights}"></span> Nights</h5>
                                            </td>
                                            <td>1</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span style="margin: 20px 20px; " class=" text-danger">ATTENTION : Votre commande ne sera validée que lorsque votre paiement sera effectif.</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="booking-form">
                            <form th:action="@{/validateOrder}" method="post" th:object="${reservation}" >

                                <input type="hidden" name="travelId" th:value="${travel.id}" />
                                <input type="hidden" name="childs" th:value="${reservation.numberOfChildren}" />
                                <input type="hidden" name="adults" th:value="${reservation.numberOfAdults}" />

                                <div class="btn btn-success btn-lg btn-block" style="border-radius: 0; cursor: default;" >
                                    <strong class="h3" th:text="${amount+'MAD'}"></strong>
                                </div>
                                <div class="form-btn">
                                    <button type="submit" class="submit-btn fix-btn">validate the order</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>