<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="discountOffer" class="discount-offer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="dicount-offer-content text-center">
                    <h2>Join with us within 1 May 2023 and get upto 40% Discount</h2>
                    <div class="campaign-timer">
                        <div id="timer">
                            <div class="time time-after" id="days">
                                <span></span>
                            </div><!--/.time-->
                            <div class="time time-after" id="hours">

                            </div><!--/.time-->
                            <div class="time time-after" id="minutes">

                            </div><!--/.time-->
                            <div class="time" id="seconds">

                            </div><!--/.time-->
                        </div><!--/.timer-->
                    </div><!--/.campaign-timer-->
                    <div class="about-btn">
                        <button  class="about-view discount-offer-btn">
                            join now
                        </button>
                    </div><!--/.about-btn-->
                </div><!-- /.dicount-offer-content-->
            </div><!-- /.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->
</section><!-- /.discount-offer-->
</body>
</html>