<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="pack" class="packages" th:fragment="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                special packages
            </h2>
            <p>
                Discover the world without worrying about your budget
            </p>
        </div><!--/.gallery-header-->
        <div class="packages-content" th:if="${travels!=null}">
            <div class="row">
                <div class="col-md-4 col-sm-6" th:each="travel:${travels}">
                    <div class="single-package-item" style="border-radius:10px ; ">
                        <a class="" th:href="@{'/booknow/travel/'+${travel.id} }">
                            <div class="image-container" style="border-radius:10px ;">
                                <img loading="lazy" style="object-fit: fill" th:src="@{|${travelImageMap[travel.id]}|}" alt="package-place">
                            </div>
                        </a>
                        <div class="single-package-item-txt">
                            <h3><span  th:text="${#strings.length(travel.title) le 35} ? ${travel.title} : ${#strings.substring(travel.title, 0, 35) + '...'}" ></span> </h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa-solid fa-hotel" style="color: #ff881a;"></i> <span th:text="${travel.days}"></span>  daays <span th:text="${travel.nights}"></span> nights
											</span><br/>
                                    <i class="fa fa-star" style="color: yellow"></i>  5 star accomodation
                                </p>
                                <p>
											<span>
												<i class="fa-solid fa-plane-departure" style="color: #ff961f;"></i>   transportation
											</span>
                                            <span>
                                                <i class="fa-solid fa-plate-utensils" style="color: #ff9d14;"></i> food facilities
                                            </span>
                                </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>4 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <span class="pull-right btn btn-danger" style=" border-radius: 0; cursor: default;" th:text="${travel.price}+'MAD'"></span>
                            <div class="about-btn">

                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->
                </div><!--/.col-->

            </div><!--/.row-->
            <div class="pagination-container">
                <nav aria-label="Page  navigation example">
                    <ul class="pagination" th:each="page,status:${pages}">
                        <li  th:class="${curruntpage==status.index?'page-item active':'page-item'}" >
                            <a class="page-link" th:href="@{/pages/(page=${status.index})}" th:text="${status.index+1}"></a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div><!--/.packages-content-->
    </div><!--/.container-->
</section><!--/.packages-->
</body>
</html>