<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="pack" class="packages" th:fragment="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                special packages
            </h2>
            <p>
                Discover the world without worrying about your budget
            </p>
        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">
                <div class="col-md-4 col-sm-6" th:each="travel:${travels}">
                    <div class="single-package-item">
                        <a class="" th:href="@{'/booknow/travel/'+${travel.id} }">
                            <div class="image-container" style="height:300px;">
                                <img style="object-fit: fill" th:src="@{|/travel-images/${travel.image}|}" alt="package-place">
                            </div>
                        </a>
                        <div class="single-package-item-txt">
                            <h3><span th:text="${#strings.length(travel.title) le 10} ? ${travel.title} : ${#strings.substring(travel.title, 0, 10) + '...'}" ></span> <span class="pull-right" th:text="${travel.price}+'MAD'"></span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> <span th:text="${travel.days}"></span>  daays <span th:text="${travel.nights}"></span> nights
											</span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>


                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="about-btn">

                            </div><!--/.about-btn-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->
                </div><!--/.col-->

            </div><!--/.row-->
            <div class="pagination-container">
                <nav aria-label="Page  navigation example">
                    <ul class="pagination" th:each="page,status:${pages}">
                        <li  th:class="${curruntpage==status.index?'page-item active':'page-item'}" >
                            <a class="page-link" th:href="@{/index(page=${status.index})}" th:text="${status.index+1}"></a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div><!--/.packages-content-->
    </div><!--/.container-->
</section><!--/.packages-->
</body>
</html>