<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section  id="service" class="service" th:fragment="service">
    <div class="container">

        <div class="service-counter text-center">

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img">
                        <img th:src="@{images/service/s1.png}" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">
                        <h2>
                            <a href="#">
                                amazing tour packages
                            </a>
                        </h2>
                        <p>Embark on extraordinary adventures with our captivating tour packages, offering unforgettable experiences and remarkable destinations.</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img">
                        <img th:src="@{/images/service/s2.png}" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">
                        <h2>
                            <a href="#">
                                book top class hotel
                            </a>
                        </h2>
                        <p>Enhance your travel experience by securing a reservation at a renowned top-class hotel.</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="statistics-img">
                        <img th:src="@{/images/service/s3.png}" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">

                        <h2>
                            <a href="#">
                                online flight booking
                            </a>
                        </h2>
                        <p>Easily book your flights online with just a few clicks, gaining access to a vast selection of airlines and destinations. Enjoy the convenience and simplicity of online flight booking from the comfort of your own home.</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

        </div><!--/.statistics-counter-->
    </div><!--/.container-->

</section><!--/.service-->
</body>
</html>