<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="testemonial"    class="testemonial">
    <div class="container">

        <div class="gallary-header text-center">
            <h2>
                What our customers say about us
            </h2>
        </div><!--/.gallery-header-->

        <div class="owl-carousel owl-theme" id="testemonial-carousel">

            <div class="home1-testm item" th:each="review:${reviews}">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img th:src="@{/images/client/client1.png}" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p th:text="${review.rev_content}">
                        </p>
                        <h3>
                            <a href="#" th:text="${review.appUser.userName}">

                            </a>
                        </h3>
                        <h4 th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd')}"></h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->


        </div><!--/.testemonial-carousel-->
    </div><!--/.container-->

</section><!--/.testimonial-->
</body>
</html>